body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 1px;
}

.container{
    position: relative;
    text-align: center;
    /* opacity: 0.5; */
    height: 100vh;
    overflow-y: hidden;
}

header {
  position: absolute;
  top: 20px;
  left: 50vw;
  z-index: 1;
  width: 37vw;
}

img{
    width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  }

  li{
      display: inline;
      /* padding: 10px 35px 10px 40px; */
      
  }
  li a{
    text-decoration: none;
    color: rgb(169, 144, 112);
    font-weight: 600;
  }
  .introduction {
    display: flex;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(0, -50%);
    flex-direction: column;
    color: antiquewhite;
}

.introduction p {
  font: normal 60px/1.1 'Dosis', sans-serif;
  margin-top: 0;
}