body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 1px;
}

.container{
    position: relative;
    text-align: center;
    /* opacity: 0.5; */
    height: 100vh;
    overflow-y: hidden;
}

header {
  position: absolute;
  top: 20px;
  left: 50vw;
  z-index: 1;
  width: 37vw;
}

img{
    width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  }

  li{
      display: inline;
      /* padding: 10px 35px 10px 40px; */
      
  }
  li a{
    text-decoration: none;
    color: rgb(169, 144, 112);
    font-weight: 600;
  }
  .introduction {
    display: flex;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(0, -50%);
    flex-direction: column;
    color: antiquewhite;
}

.introduction p {
  font: normal 60px/1.1 'Dosis', sans-serif;
  margin-top: 0;
}

#about-me {
  height: 80vh;
  min-height: 650px;
  background-image: url("../images/chess-revers2.jpg"), linear-gradient(#F8EDD9,#FCEFDC, #FDF0DD, #FFF2DF);
  display: flex;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}

.my-image {
  width: 200px;
  border-radius: 50%;
}

.content {
  width: 65vw;
  text-align: center;
}

.description {
  text-align: initial;
  color: #08233D;
}

.content h2 {
  margin: 20px 0;
  font-size: 35px;
}

.social {
  display: flex;
  justify-content: center;
}

.social img {
  width: 50px;
  margin: 0 10px;
}

#skills{
  height: 100vh;
  min-height: 650px;
  background-image: url("../images/pencil2.jpg");
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;  
}

#skills h2 {
  margin: 20px 0;
  font-size: 35px;
  color: antiquewhite;
  text-align: center;
}

.grid {
    display: grid;
    height: 80vh;
    width: 90vw;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 135px 135px 145px 135px;
    grid-template-areas: 
    "camps space1 front-end front-end"
    "camps back-end back-end space2"
    "space3 space4 tools tools"
    "space3 soft soft space5";
    grid-gap: 7px;
}

.camps {
  grid-area: camps;
  border-top: 1px solid rgb(169, 144, 112);
  border-left: 1px solid rgb(169, 144, 112);
  display: flex;
  justify-content: center;
  align-items: center;
}

.camps-content {
  color: antiquewhite;
  width: 70%;
}

.front-end {
  grid-area: front-end;
  border-bottom: 1px solid rgb(169, 144, 112);
  border-right: 1px solid rgb(169, 144, 112);
}

.back-end {
  grid-area: back-end;
  border-bottom: 1px solid rgb(169, 144, 112);
  border-left: 1px solid rgb(169, 144, 112);
}

.tools {
  grid-area: tools;
  border-bottom: 1px solid rgb(169, 144, 112);
  border-right: 1px solid rgb(169, 144, 112);
}

.soft {
  grid-area: soft;
  border-bottom: 1px solid rgb(169, 144, 112);
  border-left: 1px solid rgb(169, 144, 112);
}

.space1 {
  grid-area: space1;
}

.space2 {
  grid-area: space2;
}

.space3 {
  grid-area: space3;
}

.space4 {
  grid-area: space4;
}

.space5 {
  grid-area: space5;
}

.skills-style {
  color: antiquewhite;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#portfolio {
  height: 100vh;
  min-height: 650px;
  background-color: #fffbf6;
}

#portfolio h2 {
  margin: 0;
  font-size: 35px;
  color: #08233D;
  text-align: center;
  padding: 20px;
}

.portfolio-content {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.portfolio-content ul li {
  position: relative;
  width: 32%;
  background-color: #08233D;
}

.portfolio-content ul li img {
  height: 100%;
}

.img-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgba(29, 106, 154, 0.72); */
  background: rgb(234 220 199 / 95%);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  color: black;
  text-align: center;
  transition: opacity .2s, visibility .2s;
}

.portfolio-content ul li:hover .img-description {
  visibility: visible;
  opacity: 1;
}